@import "source/setting";
@import "source/vars";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

.main {
}
.game-header {
	background-color: $primary-color;
	&__wrapper{
		@include cnt(50px);
	}
	&__logo {
		font-weight: 600;
		font-size: 24px;
		color: $white-color;
	}
	&__signup {
		position: relative;
		&-link {
			font-weight: 400;
			color: $white-color;
			transition: $transition;
		}
		&:after{
			content: "";
      background-image: url(../img/login.svg);
      width: 20px;
      height: 20px;
			cursor: pointer;
			position: absolute;
			left: -25px;
			fill: $white-color;
		}
		&:hover .game-header__signup-link{
			color: darken($white-color, 20%);
		}
	}
}
.container {
}
.game-wrapper {
}
.logo {
}
.game-section {
}
.game {

		&__img {
		}

		&__img-title {
		}

		&__title {
		}

		&__title-subtitle {
		}
}


