@import "https://github.com/hankchizljaw/modern-css-reset/blob/master/src/reset.css";

.main {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}
.game {

		&__container {
		}

		&__header {
		}

		&__img {
		}

		&__img-title {
		}

		&__title {
		}

		&__title-subtitle {
		}
}
.logo {

}
.header {

		&__logo {

		}
}
.container {

}


