$primary-color: #EB5757;
$secondary-color: #002147;
$green-color: #6FCF97;
$white-color: #ffffff;

@mixin cnt($h){display: flex;flex-direction: row;height: $h;text-align: center;align-items: center;justify-content: space-between;}

$transition: .2s all ease;